@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: #457b9dff;
  --color-2: #a8dadcff;
  --color-3: #f1faeeff;
  --color-4: #e63946ff;
  --color-5: #1d3557ff;
}

.app-wrapper {
  font: 14px "Ubuntu", Futura, sans-serif;
}

.square {
  transition: 0.2s;
  font-size: 2.7em;
}

.square-effects:hover {
  border-radius: 1rem;
}

.board-row:nth-child(1) > .square:nth-child(1) {
  border-top-left-radius: 15px;
}

.board-row:nth-child(1) > .square:nth-child(3) {
  border-top-right-radius: 15px;
}

.board-row:nth-child(3) > .square:nth-child(1) {
  border-bottom-left-radius: 15px;
}

.board-row:nth-child(3) > .square:nth-child(3) {
  border-bottom-right-radius: 15px;
}

.refresh-icon{
  background: url('https://api.iconify.design/oi-reload.svg') no-repeat center center / contain;
}
